/* ---- override VDPJ default classes here ---- */ 


/*Message when leaving VDoc Process*/
#PLT-AXLeave {width:420px}
#PLT-AXLeave .header-border {border:none}
#PLT-AXLeave .zone3 .center {height:auto}
#PLT-AXLeave .zone3 .inner {height:auto}

/*VDoc process application*/
#APP-vdp {  }

/*---categories---*/

/*categories zone*/
#SubCategory .grid { border:none  }
#SubCategory .grid-content-zone { background-color:transparent; padding:0px; border:none; margin:0px 0px 8px 0px } 

/*categories grid details*/
#SubCategory UL { padding:5px; font-family:arial,helvetica,sans-serif; font-size:11px; font-weight:bold; margin:0px 0px 5px 0px; }
#SubCategory UL LI { display:inline; list-style:none; text-align:left; font-family:arial,helvetica,sans-serif; font-size:11px; font-weight:normal; border:none; background-image:url(../images/link_arrow.gif); background-repeat:no-repeat; background-position:0px 4px; padding:0px 5px 0px 10px; margin:5px; white-space:nowrap; line-height:20px; }
#SubCategory UL LI .text-highlighted {color:#311E94}

/* ---- specific vdpj classes here ------ */

/* form section common */
.section-inner .header-helper {border:1px solid #D3D3D3}

/* form section */
.section .section-header .text-style1, .empty-section .section-header .text-style1 { font-family:'ralewayregular', Arial,Helvetica,sans serif; font-size:16px; font-weight:normal; color:#0099ff; }
.section .section-help, .empty-section .section-help  { padding:3px 5px 0px 0px; text-align:right }

/* form section:highlighted */
.section-highlighted, .empty-section-highlighted {border-left:3px solid #663a30}
.section-highlighted .section-header { height:24px; padding:2px 10px 0px 10px; }
.section-highlighted .section-content {background-color:white; padding:10px}
.section-highlighted .section-inner {}
.section-highlighted .section-footer {display:none}
.empty-section-highlighted .section-header {height:24px; padding:2px 4px 3px 4px; }
.empty-section-highlighted .section-footer {display:none}
.section-highlighted .section-header .text-style1, .empty-section-highlighted .section-header .text-style1 { font-family:'ralewayregular', Arial,Helvetica,sans serif; font-size:16px; font-weight:normal; color:#663a30; }
.section-highlighted .section-help, .empty-section-highlighted .section-help { padding:4px 5px 0px 0px; text-align:right }
.section-highlighted .subsection-highlighted .subsection .section-header .text-style1{color:#3A3846!important}
.section-highlighted .section .section-header .text-style1 {font:bold 11px Arial, Helvetica, sans-serif!important}

/* form subsection */
.section-highlighted .subsection .section-header {height:24px; padding:2px 4px 7px 4px; font-family:Arial,Helvetica,sans serif; font-size:11px; font-weight:bold; color:#3A3846;}
.section-highlighted .subsection .section-content {background-color:white; border:0px none}
.subsection .section-header .text-style1, .empty-subsection .section-header .text-style1 { font-family:'ralewayregular', Arial,Helvetica,sans serif; font-size:16px; font-weight:normal; color:#0099ff; }

.subsection, .empty-subsection {border-left:3px solid #ccc}
.subsection .section-header {padding:2px 10px 0px 10px}

/* form subsection:highlighted */
.subsection-highlighted, .empty-subsection-highlighted {border-left:3px solid #ff0000}
.subsection-highlighted .section-header {height:24px; padding:2px 10px 0px 10px; font-family:Arial,Helvetica,sans serif; font-size:11px; font-weight:bold; color:#DE3737; background:none}
.subsection-highlighted .section-header .text-style1 {font:normal 11px Arial, Helvetica, sans-serif!important; color:#FF9C1C!important}
.subsection-highlighted .section-content {background-color:white; border:2px solid #FF9C1C; padding:10px}
.subsection-highlighted .section-footer {display:none}
.empty-subsection-highlighted .section-header {height:24px; padding:2px 4px 3px 4px; font-family:Arial,Helvetica,sans serif; font-size:11px; font-weight:bold; color:#DE3737;}
.empty-subsection-highlighted .section-footer {display:none}

/* form sections:contents */
.section .table-border, .section-highlighted .table-border,  .subsection .table-border, .subsection-highlighted .table-border { border-collapse:separate; border-spacing:2px}
.section .cell, .subsection .cell, .section-highlighted .cell, .subsection-highlighted .cell { font-family:Arial,Helvetica,sans serif; font-size:12px; font-weight:normal; color:#473E4B; text-align:left; padding:4px 6px 4px 6px; border:1px solid #C1C7CD; background-color:white}
.section .cell1, .subsection .cell1, .section-highlighted .cell1, .subsection-highlighted .cell1 { font-family:Arial,Helvetica,sans serif; font-size:12px; font-weight:normal; color:#473E4B; text-align:left; padding:4px 6px 4px 6px; border:1px solid #C1C7CD; background-color:white}
.section .cell2, .section-highlighted .cell2, .subsection .cell2, .subsection-highlighted .cell2 { font-family:Arial,Helvetica,sans serif; font-size:12px; font-weight:normal; color:#473E4B; text-align:left; padding:4px 6px 4px 6px; background-color:#E4E4E4; border:1px solid #C1C7CD;}
.section .cell-left, .section-highlighted .cell-left,.subsection .cell-left, .subsection-highlighted .cell-left { font-family:Arial,Helvetica,sans serif; font-size:12px; font-weight:normal; color:#473E4B; text-align:right; padding:4px 6px 4px 6px; background-color:#eee; vertical-align:middle; border:0px none;}
.section .cell-right, .section-highlighted .cell-right, .subsection .cell-right, .subsection-highlighted .cell-right { font-family:Arial,Helvetica,sans serif; font-size:12px; font-weight:normal; color:#473E4B; text-align:left; padding:4px 6px 4px 6px; vertical-align:middle; border:0px none; background-color:white}
.section .cell-empty, .section-highlighted .cell-empty,.subsection .cell-empty, .subsection-highlighted .cell-empty {background-color:white; font-size:1px;border:1px solid #C1C7CD;}
.section .cell-header A, .subsection .cell-header A, .section-highlighted .cell-header A, .subsection-highlighted .cell-header A { font-family:Arial,Helvetica,sans serif; font-size:12px; }

/*task information*/
.section .text-link-list , .section-highlighted .text-link-list {margin:5px 0px 5px 0px}

/*section action summary*/
.action-summary{ padding:1px; font-family:Arial, Helvetica,sans-serif; font-size:11px; background-image:url(../images/link_arrow.gif); background-repeat:no-repeat; padding-left:15px; background-position:5px 5px; color:#655E68;margin:5px 0px 5px 0px }

/*task-operators*/
.task-operators {font-size:10px; list-style:none; margin:0; padding:0;}
.task-operators LI {display:block; background:url(../images/mandatory/user.gif) no-repeat left top; padding-left:18px; margin:2px; line-height:18px;}

/* wizzard specific table */
.wizzard .section .content-zone {padding-top:0px}

#APP-vdp .cell-right .grid, #APP-vdp .cell-right .grid-content-zone { }
#APP-vdp .cell-right .grid {border:none; }
#APP-vdp .cell1 TD, #APP-vdp .cell2 TD, #APP-vdp .cell-left TD, #APP-vdp .cell-right TD {font-family:Arial,Helvetica,sans serif; font-size:12px; font-weight:normal; color:#473E4B; }

/*File upload component*/
.file-upload INPUT,.file-upload .button {vertical-align:middle}

/*Diagram*/
#APP-vdp #HTMLDiagram INPUT { background-color:transparent !important; border:none !important; background-image:none !important}

/*help general inforamtions*/
#helpzone.content-zone .section, #helpzone.content-zone .section-highlighted {}
#helpzone,#helpzone .content-zone {height:auto}
#helpzone .text-link-list,#helpzone .text-list {font-size:10px}
#helpzone .text-level2 .text-link-list,#helpzone .text-level2 .text-list {font-size:9px}

/*fix step top button*/
#APP-vdp .step .section-header {padding-bottom:7px}

/* tree view */
.treeview { height:100%; padding:5px}

/* treeview icons */
.treeview .tv_dots_hbd { background-image: url(../images/vdp/tv_dots_hbd.gif); }
.treeview .tv_dots_hd { background-image: url(../images/vdp/tv_dots_hd.gif); }
.treeview  .tv_dots_hb { width: 16px; background-image: url(../images/vdp/tv_dots_hb2.gif); background-repeat:repeat-y; background-position:2px center}

.treeview .tv_minus_hbd { background-image: url(../images/vdp/tv_minus_hbd.gif); cursor:pointer}
.treeview .tv_minus_hd { background-image: url(../images/vdp/tv_minus_hd.gif);  cursor:pointer}
.treeview .tv_minus_d { background-image: url(../images/vdp/tv_minus_d.gif);  cursor:pointer}
.treeview .tv_minus_bd { background-image: url(../images/vdp/tv_minus_bd.gif);  cursor:pointer}

.treeview .tv_plus_hbd { background-image: url(../images/vdp/tv_plus_hbd.gif);  cursor:pointer}
.treeview .tv_plus_hd { background-image: url(../images/vdp/tv_plus_hd.gif);  cursor:pointer}
.treeview .tv_plus_bd { background-image: url(../images/vdp/tv_plus_bd.gif);  cursor:pointer}
.treeview .tv_plus_d { background-image: url(../images/vdp/tv_plus_d.gif);  cursor:pointer}

.treeview .tv_dots_hbd,.treeview .tv_dots_hd,.treeview .tv_minus_hbd,.treeview .tv_minus_hd,.treeview .tv_minus_d,.treeview .tv_minus_bd,.treeview .tv_plus_hbd,.treeview .tv_plus_hd,.treeview .tv_plus_bd,.treeview .tv_plus_d { height: 20px; width: 16px;vertical-align: center;	padding :0px; font-size:1px; }

.treeview .ico_opndfold { background-image: url(../images/vdp/ico_opndfold.gif); }
.treeview .ico_clsdfold { background-image: url(../images/vdp/ico_clsdfold.gif); }
.treeview .ico_opndfold,.treeview .ico_clsdfold {height: 20px; width: 16px;	vertical-align: center;	padding :0px; font-size:1px; }

/*treeview label*/
.treenode, .treenode LABEL { font-family:Trebuchet,arial,sans serif; font-size:11px; font-weight:normal; padding:0px; text-decoration:none; cursor:pointer; vertical-align:center}

	/* links */
	.treenode A { text-decoration:none }
	.treenode A:link , .treenode A:visited { text-decoration:none !important}
	.treenode A:hover { text-decoration:none !important }
	.treenode A:active { text-decoration :none !important }
		
/*hide description for process document print*/
.document-print .vui-info-handler,.document-print .vui-noinfo-handler {display:none}

/*impression*/
@media print {
    .portlet .inner {overflow:visible;}
	.ui-loader-background,.ui-loader {display:none}	
	.document-print .vui-info-handler,.document-print .vui-noinfo-handler  {display:none}	
}